
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /schuger/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /schuger/index.php [L]
</IfModule>

